--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu113
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu113
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu113
easydict
opencv-python
numpy==1.19.4
torchsummary
tensorboard==2.8.0
scikit-learn
albumentations
matplotlib